body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.react-datepicker__input-container input{
  padding: 12px;
  width: 100%;
  border: 1px solid #cacaca;
  border-radius: 4px;
  font-size: 15px;
  color: #666;
}
.react-datepicker__tab-loop{
  z-index: 10;
  position: fixed;
}